body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background-color: lightgray;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
    background-color: dimgray;
    margin: auto;
}

.header-content {
    position: relative;
    margin: auto;
    max-width: 980px;
    overflow: hidden;
}

.logo {
    float: left;
    width: 50px;
}

.logoName {
    display: block;
    font-size: large;
    color: #61DAFB;
    margin-top: 15px;
    float: left;
    margin-left: 0;
    font-weight: bold;
}

.logo img {
    float: left;
    width: 55px;
    height: 55px;
}

nav {
    float: right;
}

header ul {
    margin: 0;
}

.navItem {
    float: left;
    margin-left: 5px;
    display: block;
    padding: 18px 16px;
    background: linear-gradient(to bottom, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(73, 165, 191, 1) 100%);
    /*border-color: black;*/
    border: 1px solid gray;
}

.navItem:hover{
    background: linear-gradient(to bottom, rgba(177, 236, 252, 1) 0%, rgba(147, 219, 239, 1) 41%, rgba(103, 195, 221, 1) 100%);
}

.navItem:active{
    background: linear-gradient(to bottom, rgba(147, 206, 222, 0.5) 0%, rgba(117, 189, 209, 0.5) 41%, rgba(73, 165, 191, 0.5) 100%);
    color: #61DAFB;
}

main {
    margin: auto;
    max-width: 980px;
    background-color: whitesmoke;
    overflow: hidden;
    //margin-top: 0;
}

article {
    overflow: auto;
    padding: 20px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

footer {
    width: 100%;
    bottom: 0;
    margin: auto;
    background-color: gray;
}

footer nav {
    float: left;
}

footer .navItem {
    float: none;
    padding: 0;
    background: none;
    margin-left: 30px;
}

footer .navItem:hover {
    background: none;
}

footer a {
    text-decoration: none;
    color: black;
}

.calculator {
    margin: auto;
    max-width: 700px;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 50px;
    text-align: left;
}


.calculator button, input {
    padding: 0 7px;
    margin: 2px 5px;
    align-content: end;
    width: 150px;
    height: 50px;
}

.name {
    text-align: right;
    display: inline-block;
    width: 150px;
    height: 50px;
    margin: 0 10px;
    padding-right: 5px;
}

.counter {
    margin: 10px 0;
}

.calculator  .operator {
    width: 50px;
}

.numbers {
    display: inline-block;
    width: 25px;
    text-align: right;
    padding-right: 5px;
    height: 50px;
}
